<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<title>WEBSITE NAME::PAGE NAME</title>
	<meta name="description" content="This is an example of a meta description. This will often show up in search results so it is important to write a high quality description for each page of a website">
	<!-- Bootstrap Stylesheet-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<h1>Website Template Title</h1>
	</header>
	
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="portfolio.html">Portfolio</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</nav>
	<main>
	<i class="fa fa-code" aria-hidden="true"></i>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<p>This is my first column</p>
			</div>
			<div class="col-sm-4">
				<p>This is my second column</p>
			</div>
			<div class="col-sm-4">
				<p>This is my third column</p>
			</div>
		</div>
	</div>
		


		<h2>Page Title</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque dignissim enim sit amet venenatis urna cursus eget nunc. Maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum. Iaculis nunc sed augue lacus. Egestas tellus rutrum tellus pellentesque eu tincidunt. Mi tempus imperdiet nulla malesuada. Viverra nam libero justo laoreet sit amet. Morbi quis commodo odio aenean sed. Nulla facilisi cras fermentum odio eu. Aliquet nibh praesent tristique magna sit. Arcu risus quis varius quam quisque id diam. Diam in arcu cursus euismod quis viverra. Amet est placerat in egestas erat imperdiet sed euismod nisi. Malesuada bibendum arcu vitae elementum curabitur vitae. Ipsum nunc aliquet bibendum enim. Accumsan sit amet nulla facilisi morbi</p>
	</main>
	
	<footer>
		<p><a href="https://saintpaul.edu" target="_blank">Saint Paul College</a></p>
		<p><a href="mailto:xai.cheng@my.saintpaul.edu target="_blank">Email Me</a> &bull;
		<a href="tel:(000)000-0000">Call Me</a> &bull;
		<a href="sms: (000)000-0000">Text Me</a>
		</p>
		<small>&copy; Xai Cheng. All rights reserved</small>
	</footer>
	
	<!--jQuery, Popper, and Bootstrap Javascript files-->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
